:root{
  --blue:#00d4ff;
}
.Hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  height: 550px;
  color: black;
  border: 2px solid lightgray;
  border-radius: 5px;
  background-color: lightcyan;
  margin:15px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5%;
  overflow: hidden;/*este estilo hace que los hijos de ese box tengan como limite al padre y sus estilos en este caso el border radius*/
  //font-family: sans-serif;
  
  .containerImageDescription {
    height: 450px;
    overflow: auto;
    border-bottom: 1px solid black;
    
    
  }
  .image{
    width:100%;
    
  }
 
  .from{
    
    font-size: 15px;
    font-family: roboto;
    width:"100%";
    background-color:var(--blue);
    margin: 5px;
    padding: 5px;
    // color: white;
    
  }
  
  .to{
    font-size: 15px;
    font-family: roboto;
    width:"100%";
    background-color:var(--blue);
    margin: 5px;
    padding: 5px;
    // color: white;
    
  }
  .description{
    font-size: 10px;
    // border: solid 1px purple;
    margin:0px 7px 0px 7px;
    //font-family: sans-serif;

  }


  .cityInformation{
    font-size: 14px;
  }
  
  header {
    max-height: 40px;
    span {
      height: 10px;
    }
  }

  .btnBook {
    width: 50%;
    background-color:var(--blue);
    padding: 5px 0;
    margin-left: 2.5%;
    margin-top: 2.5%;
    border-radius:7px;
    color: white;

    &:hover {
      cursor: pointer;
      background-color: rgb(42, 42, 252);
      color:white
    }
  }
}