@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

.Filtros {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(9,9,121,1);
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  padding-bottom: 40px;
  padding-top: 20px;
  font-family: 'roboto', sans-serif;
  color: white;
  border: 2px red solid;
}

.filtros-lista {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 90%;
  border: 2px solid green;
}
.filtros-lista div {
  display: flex;
  flex-direction: column;
  color: white;
  height: 40px;
  // border: solid 1px greenyellow;
}
.filtros-lista div input {
  height: 25px;
  width: 130px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.filtros-lista div select {
  height: 25px;
  width: 130px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filtros select,
button {
  height: 25px;
  width: 90px;
  background-color: red;
  cursor: pointer;
  border-radius: 7px;
}
button:hover{
  background-color: rgb(231, 21, 231);

}

@media screen and (max-width:460px) {
  .filtros select,
button{
  width: 130px;
  }
}
