/*Aqui inicia la sección del footer*/
.main-footer {
  color: white;
  background-color:rgb(71, 111, 243);
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

/*Aqui termina la sección del footer*/
